language: java
jdk:
  - openjdk11

branches:
  only:
    - master
    - develop

before_install:
  - chmod +x ./gradlew

cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle

script:
  - ./gradlew clean test